/*Colour Scheme */
$red: #f71735;
$yellow: #ff9f1c;
$blue: #011627;
$teal: #41ead4;
$white: #fdfffc;

/*Typography*/

$font-stack-body: Monserrat, 'Helvetica Neue', 'Sans Serif', 'Times New Roman';
$font-stack-heading: $font-stack-body;

$font-weight-body:400;
$font-weight-heading: 700;

$root-size-mobile: 18px;
$root-size-desktop: 16px;
