<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print Status</title>
</head>
<body>
    <nav>
        <h3>Print status</h3>
    </nav>
    <main id="printJobs">
        <section id="labels">
            <p class="name">Name</p>
            <p id="timestamp">Date</p>
            <p id="message">Message</p>
            <p id="phone">Phone</p>
            <p id="email">Email</p>
        </section>
        <section id="jobs">
            <div class="job">
                <p class="name">[name]</p>
                <p id="timestamp">[date]</p>
                <p id="message">[message]</p>
                <p id="phone">[phone]</p>
                <p id="email">[email]</p>
            </div>
        </section>
    </main>
</body>
</html>