input, textarea {
    border: none;

}

button {
    border: 0.1rem $red solid;
    padding: .75rem 1.5rem;
    border-radius: 2rem; 
    background: transparent;
    margin-right: .75rem;
    &:hover {
        background: $red;
        color: $white;
    }

    &:focus {
        border: 0.1rem $yellow solid;
    }

    &:active {
        background: $yellow;
    }
    
}
