<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8" /> 
    <title>Richard Hotline</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <!-- <section class="notification">
        <p>ERROR</p>
    </section> -->
    <figure><img src="{{ url_for('static',filename='img/hotline-preview.png') }}" alt="Hotline"></figure>
    <div class="content">
        
        <h1>Richard <br>Hotline</h1>
        <p>Does it sometimes seem like Richard has dissapeared from the world? Doesn't he awnser his phone? Neither his email? He might be buzzy behind his computer and not really thirsty for digital messages. So, let's make some analog ones. Unfortunantly, postcards are quite slow. Our solotion: drop your message here and we will print it out and put it in front of his face.</p>
        <!-- warning: target is hardcoded -->
        <form name="newMessage" target="_self" action="http://localhost:5000/print" method="get">
            <input name="name" type="text" value="" placeholder="Name">
            <input name="contact" type="text" placeholder="Email/Phone">
            <textarea name="message" cols="30" rows="10" placeholder="message"></textarea>
            <button type="submit" >Send Message</button>
        </form>
    </div>
    <footer>
        <p class="footer-content">v0.1 Hotline Richard messaging system by RichART - IN DEVELOPMENT</p>
    </footer>
</body>
</html>